<!DOCTYPE html>
<html>
<head>
<title>Save</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="stylesheets/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="stylesheets/css/thin-admin.css" rel="stylesheet" media="screen">
<link href="stylesheets/css/font-awesome.css" rel="stylesheet" media="screen">
<link href="stylesheets/style/style.css" rel="stylesheet">



</head>
    <span style="font-size:18px;"> </span><span style="font-size:24px;"><meta http-equiv="refresh" content="3;URL=catalog"> </span>
    <!--<span style="font-size:24px;">-->
<body>

 



<div class="widget-404" style="margin-top: 50px;">
<div class="row">
      <div class="col-md-5">
          <h1 class="text-align-center" style="font-size: 5rem">保存成功</h1>
      </div>
      <div class="col-md-7">
          <div class="description">
              <h3>三秒后自动跳转</h3>
              <p>如未能及时跳转，可以点下面按钮手动跳转 </p>
              <a class="btn btn-s-md btn-warning btn-rounded" style="margin-left: 15%;" href="/catalog">返回</a>

          </div>
      </div>
    </div>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script> 



 

<!--switcher html start-->
<div class="demo_changer active" style="right: 0px;">
                <div class="demo-icon"></div>
                <div class="form_holder">
                        

                    <div class="predefined_styles">
                        <a class="styleswitch" rel="a" href=""><img alt="" src="images/a.jpg"></a>	
                        <a class="styleswitch" rel="b" href=""><img alt="" src="images/b.jpg"></a>
                        <a class="styleswitch" rel="c" href=""><img alt="" src="images/c.jpg"></a>
                        <a class="styleswitch" rel="d" href=""><img alt="" src="images/d.jpg"></a>
                        <a class="styleswitch" rel="e" href=""><img alt="" src="images/e.jpg"></a>
                        <a class="styleswitch" rel="f" href=""><img alt="" src="images/f.jpg"></a>
                        <a class="styleswitch" rel="g" href=""><img alt="" src="images/g.jpg"></a>
                        <a class="styleswitch" rel="h" href=""><img alt="" src="images/h.jpg"></a>
                        <a class="styleswitch" rel="i" href=""><img alt="" src="images/i.jpg"></a>
                        <a class="styleswitch" rel="j" href=""><img alt="" src="images/j.jpg"></a>
                    </div>
					                    
                </div>
            </div>
            
            
    <!--switcher html end-->
<script src="assets/switcher/switcher.js"></script> 
<script src="assets/switcher/moderziner.custom.js"></script> 
<link href="assets/switcher/switcher.css" rel="stylesheet">
<link href="assets/switcher/switcher-defult.css" rel="stylesheet">
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/a.css" title="a" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/b.css" title="b" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/c.css" title="c" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/d.css" title="d" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/e.css" title="e" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/f.css" title="f" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/g.css" title="g" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/h.css" title="h" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/i.css" title="i" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/j.css" title="j" media="all" />


</body>


</html>
