@charset "utf-8";
/* CSS Document */

*{
    margin:0 auto ;
    padding:0;

}
body{
    font-size: 12px;
    font-family:Arial,Verdana;
    color: #666;
    /*height:auto;*/
    background-color:black;
    background-size:100%;
}

.quan{
    width:100%;
    height:100%;
    /*height:840px;*/
}
.top{
    width:100%;
    height:auto;
    #float:left;
    /*background-color:red;*/

}
.bottom{
    width:100%;
    height: 86%;
    /*background-color:blue;*/
}
.bottom-top{
    width:100%;
    height: 50%;
    /*background-color:gray;*/
}
.bottom-bottom{
    width:100%;
    height: 50%;
    /*background-color:green;*/
}
